<%-
  item = %w[hosts discovered_hosts].include?(controller_name) ? @host : @hostgroup
  facet = item&.passwordstate_facet

  inherited = false
  if !item&.persisted?
    hostgroup = @hostgroup || @host&.hostgroup
    inherited = facet.nil?
    inherited ||= true if hostgroup&.inherited_facet_attributes(Facets.registered_facets[:passwordstate_facet])&.any?

    facet ||= item&.build_passwordstate_facet(hostgroup.inherited_facet_attributes(Facets.registered_facets[:passwordstate_facet])) if inherited && hostgroup
  end
  inherited ||= true if facet.nil?
-%>

<%= fields_for item  do |f| %>
<%= f.fields_for 'passwordstate_facet_attributes' do |f| %>
  <%-
    server = facet&.passwordstate_server
    lists = []
    list = nil

    if server
      begin
        lists = server.password_lists&.map do |list|
          [ list.password_list_id, "#{list.password_list} - #{list.full_path(unix: true)}" ]
        end
        list = facet&.password_list rescue OpenStruct.new(password_list_id: facet&.password_list_id) if facet&.password_list_id
      rescue StandardError => e
        mess=e.to_s.tr("\n","½")
        Rails.logger.error "Failed to get Passwordstate password lists; #{e.class}: #{mess}"
        list = OpenStruct.new(password_list_id: facet&.password_list_id)
        lists << [ list.password_list_id, "Unknown List #{list} - #{e.class}: #{e}" ] if list.password_list_id
      end
    end
  -%>
  <div id="passwordstate_list_select" style="<%= lists.empty? && 'display:none;' || '' %>">
  <%= select_f f, :password_list_id, lists, :first, :last,
    { selected: list&.password_list_id,
      disable_button: _(HostsAndHostgroupsHelper::INHERIT_TEXT),
      disable_button_enabled: inherited
    },
    { disabled: lists.empty?,
      help_inline: :indicator,
      label: _('Password List'),
      onchange: 'update_passwordstate_list(this);'
    }
  %>
  </div>
<% end -%>
<% end -%>
