<%-
  item = @hostgroup || @host
-%>

<%= fields_for item  do |f| %>
<%= f.fields_for 'passwordstate_facet_attributes' do |f| %>
  <%-
    server = item.try :passwordstate_server rescue nil
    if server
      lists = server&.password_lists&.map do |list|
        [ list.password_list_id, "#{list.password_list} - #{list.full_path(true)}" ]
      end
      list = item.try :passwordstate_password_list rescue nil
    else
      lists = []
      list = nil
    end
  -%>
  <div id="passwordstate_list_select" style="<%= lists.empty? && 'display:none;' || '' %>">
  <%= select_f f, :password_list_id, lists, :first, :last,
    { selected: list&.password_list_id },
    { disabled: lists.empty?,
      help_inline: :indicator,
      label: _('Password List'),
      onchange: 'update_passwordstate_list(this);'
    }
  %>
  </div>
<% end -%>
<% end -%>
