<%-
  item = controller_name == 'hosts' ? @host : @hostgroup
  facet = item.try :passwordstate_facet

  hostgroup = @hostgroup || @host.hostgroup
  inherited = facet.nil?
  inherited ||= true if hostgroup&.inherited_facet_attributes(Facets.registered_facets[:passwordstate_facet])&.any?
  inherited = false if persisted? && facet.nil?

  facet ||= item.build_passwordstate_facet(hostgroup.inherited_facet_attributes(Facets.registered_facets[:passwordstate_facet])) if inherited && hostgroup
-%>

<%= fields_for item  do |f| %>
<%= f.fields_for 'passwordstate_facet_attributes' do |f| %>
  <%-
    server = facet.try :passwordstate_server rescue nil
    if server
      lists = server.password_lists&.map do |list|
        [ list.password_list_id, "#{list.password_list} - #{list.full_path(true)}" ]
      end
      list = facet.try :passwordstate_password_list rescue nil
    else
      lists = []
      list = nil
    end
  -%>
  <div id="passwordstate_list_select" style="<%= lists.empty? && 'display:none;' || '' %>">
  <%= select_f f, :password_list_id, lists, :first, :last,
    { selected: list&.password_list_id,
      # disable_button: _(HostsAndHostgroupsHelper::INHERIT_TEXT),
      # disable_button_enabled: inherited
    },
    { disabled: lists.empty?,
      help_inline: :indicator,
      label: _('Password List'),
      onchange: 'update_passwordstate_list(this);'
    }
  %>
  </div>
<% end -%>
<% end -%>
