<%- if @host.passwordstate_facet -%>
<%= javascript 'foreman_passwordstate/host_show_extensions.js' %>
<li><a href="#passwords" data-toggle="tab" onclick="trigger_delayed_ajax('#passwords')"><%= _("Managed Passwords") %>&nbsp;<i class="fa fa-refresh"></i></a></li>
<%- end -%>
